<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>740</integer>
	<key>capHeight</key>
	<integer>680</integer>
	<key>copyright</key>
	<string>Copyright 2017 The Inria Serif Project Authors (https://github.com/BlackFoundryCom/InriaFonts)</string>
	<key>descender</key>
	<integer>-213</integer>
	<key>familyName</key>
	<string>Inria Serif</string>
	<key>note</key>
	<string>Copyright 2017 BlackFoundry</string>
	<key>openTypeHeadCreated</key>
	<string>2019/12/05 15:21:33</string>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeHheaAscender</key>
	<integer>976</integer>
	<key>openTypeHheaDescender</key>
	<integer>-223</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameCompatibleFullName</key>
	<string>Inria Serif</string>
	<key>openTypeNameDesigner</key>
	<string>Black Foundry Team</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.black-foundry.com/company</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Black Foundry</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.black-foundry.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Inria Serif</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Bold</string>
	<key>openTypeNameSampleText</key>
	<string>The quick brown fox jumps over the lazy dog</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.000</string>
	<key>openTypeNameWWSFamilyName</key>
	<string></string>
	<key>openTypeNameWWSSubfamilyName</key>
	<string></string>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>222</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>65</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>976</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-223</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>BLCK</string>
	<key>openTypeOS2WeightClass</key>
	<integer>700</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>976</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>248</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>507</integer>
		<integer>517</integer>
		<integer>680</integer>
		<integer>690</integer>
		<integer>740</integer>
		<integer>750</integer>
	</array>
	<key>postscriptFontName</key>
	<string>InriaSerif-Bold</string>
	<key>postscriptFullName</key>
	<string>Inria Serif Bold</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-223</integer>
		<integer>-213</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>35</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>128</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-85</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>65</integer>
	<key>styleMapFamilyName</key>
	<string>Inria Serif</string>
	<key>styleMapStyleName</key>
	<string>bold</string>
	<key>styleName</key>
	<string>Bold</string>
	<key>trademark</key>
	<string>Inria Serif is a trademark of BlackFoundry</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>507</integer>
	<key>year</key>
	<integer>2017</integer>
</dict>
</plist>
