<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.robofont.robohint.maxp.maxComponentElements</key>
	<integer>3</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>.null</string>
				<string>CR</string>
				<string>space</string>
				<string>uni00A0</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>AE</string>
				<string>OE</string>
				<string>Lslash</string>
				<string>Oslash</string>
				<string>Eth</string>
				<string>Thorn</string>
				<string>uni1E9E</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>ae</string>
				<string>oe</string>
				<string>lslash</string>
				<string>oslash</string>
				<string>eth</string>
				<string>thorn</string>
				<string>germandbls</string>
				<string>dotlessi</string>
				<string>dotlessj</string>
				<string>fi</string>
				<string>ffi</string>
				<string>fl</string>
				<string>ffl</string>
				<string>ft</string>
				<string>fft</string>
				<string>fb</string>
				<string>ffb</string>
				<string>ff</string>
				<string>fff</string>
				<string>fh</string>
				<string>ffh</string>
				<string>fj</string>
				<string>ffj</string>
				<string>fk</string>
				<string>ffk</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Adieresis</string>
				<string>Agrave</string>
				<string>Aring</string>
				<string>Atilde</string>
				<string>Abreve</string>
				<string>Amacron</string>
				<string>Aogonek</string>
				<string>Ccedilla</string>
				<string>Cacute</string>
				<string>Ccaron</string>
				<string>Ccircumflex</string>
				<string>Cdotaccent</string>
				<string>Dcaron</string>
				<string>Dcroat</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>Egrave</string>
				<string>Ebreve</string>
				<string>Ecaron</string>
				<string>Edotaccent</string>
				<string>Emacron</string>
				<string>Eogonek</string>
				<string>Gbreve</string>
				<string>Gcircumflex</string>
				<string>Gcommaaccent</string>
				<string>Gdotaccent</string>
				<string>Hbar</string>
				<string>Hcircumflex</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>Igrave</string>
				<string>Ibreve</string>
				<string>Idotaccent</string>
				<string>Imacron</string>
				<string>Iogonek</string>
				<string>Itilde</string>
				<string>Jcircumflex</string>
				<string>IJ</string>
				<string>Kcommaaccent</string>
				<string>kgreenlandic.case</string>
				<string>Lacute</string>
				<string>Lcaron</string>
				<string>Lcommaaccent</string>
				<string>Ldot</string>
				<string>Ntilde</string>
				<string>Nacute</string>
				<string>Ncaron</string>
				<string>Ncommaaccent</string>
				<string>Eng</string>
				<string>napostrophe.case</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Odieresis</string>
				<string>Ograve</string>
				<string>Otilde</string>
				<string>Obreve</string>
				<string>Ohungarumlaut</string>
				<string>Omacron</string>
				<string>Racute</string>
				<string>Rcaron</string>
				<string>Rcommaaccent</string>
				<string>Scaron</string>
				<string>Sacute</string>
				<string>Scedilla</string>
				<string>Scircumflex</string>
				<string>uni0218</string>
				<string>Tbar</string>
				<string>Tcaron</string>
				<string>uni0162</string>
				<string>uni021A</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>Ugrave</string>
				<string>Ubreve</string>
				<string>Uhungarumlaut</string>
				<string>Umacron</string>
				<string>Uogonek</string>
				<string>Uring</string>
				<string>Utilde</string>
				<string>Wacute</string>
				<string>Wcircumflex</string>
				<string>Wdieresis</string>
				<string>Wgrave</string>
				<string>Yacute</string>
				<string>Ydieresis</string>
				<string>Ycircumflex</string>
				<string>Ygrave</string>
				<string>Zcaron</string>
				<string>Zacute</string>
				<string>Zdotaccent</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>adieresis</string>
				<string>agrave</string>
				<string>aring</string>
				<string>atilde</string>
				<string>abreve</string>
				<string>amacron</string>
				<string>aogonek</string>
				<string>ccedilla</string>
				<string>cacute</string>
				<string>ccaron</string>
				<string>ccircumflex</string>
				<string>cdotaccent</string>
				<string>dcaron</string>
				<string>dcroat</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>egrave</string>
				<string>ebreve</string>
				<string>ecaron</string>
				<string>edotaccent</string>
				<string>emacron</string>
				<string>eogonek</string>
				<string>gbreve</string>
				<string>gcircumflex</string>
				<string>gcommaaccent</string>
				<string>gdotaccent</string>
				<string>hbar</string>
				<string>hcircumflex</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>igrave</string>
				<string>ibreve</string>
				<string>i.dot</string>
				<string>imacron</string>
				<string>iogonek</string>
				<string>itilde</string>
				<string>jcircumflex</string>
				<string>ij</string>
				<string>kcommaaccent</string>
				<string>kgreenlandic</string>
				<string>lacute</string>
				<string>lcaron</string>
				<string>lcommaaccent</string>
				<string>ldot</string>
				<string>ntilde</string>
				<string>nacute</string>
				<string>ncaron</string>
				<string>ncommaaccent</string>
				<string>eng</string>
				<string>napostrophe</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>odieresis</string>
				<string>ograve</string>
				<string>otilde</string>
				<string>obreve</string>
				<string>ohungarumlaut</string>
				<string>omacron</string>
				<string>racute</string>
				<string>rcaron</string>
				<string>rcommaaccent</string>
				<string>scaron</string>
				<string>sacute</string>
				<string>scedilla</string>
				<string>scircumflex</string>
				<string>uni0219</string>
				<string>tbar</string>
				<string>tcaron</string>
				<string>uni0163</string>
				<string>uni021B</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>ugrave</string>
				<string>ubreve</string>
				<string>uhungarumlaut</string>
				<string>umacron</string>
				<string>uogonek</string>
				<string>uring</string>
				<string>utilde</string>
				<string>wacute</string>
				<string>wcircumflex</string>
				<string>wdieresis</string>
				<string>wgrave</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>ycircumflex</string>
				<string>ygrave</string>
				<string>zcaron</string>
				<string>zacute</string>
				<string>zdotaccent</string>
				<string>acute</string>
				<string>grave</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>tilde</string>
				<string>dieresis</string>
				<string>ring</string>
				<string>cedilla</string>
				<string>hungarumlaut</string>
				<string>breve</string>
				<string>macron</string>
				<string>dotaccent</string>
				<string>periodcentered</string>
				<string>ogonek</string>
				<string>commaaccent</string>
				<string>caron.alt</string>
				<string>revcommaaccent</string>
				<string>period</string>
				<string>comma</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>ellipsis</string>
				<string>question</string>
				<string>exclam</string>
				<string>questiondown</string>
				<string>exclamdown</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>slash</string>
				<string>backslash</string>
				<string>underscore</string>
				<string>hyphen</string>
				<string>uni00AD</string>
				<string>endash</string>
				<string>emdash</string>
				<string>brokenbar</string>
				<string>bar</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>quotesinglbase</string>
				<string>quotedblbase</string>
				<string>quoteleft</string>
				<string>quotedblleft</string>
				<string>quoteright</string>
				<string>quotedblright</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>bullet</string>
				<string>ampersand</string>
				<string>paragraph</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>section</string>
				<string>asterisk</string>
				<string>trademark</string>
				<string>registered</string>
				<string>copyright</string>
				<string>at</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>numbersign</string>
				<string>uni2116</string>
				<string>Euro</string>
				<string>dollar</string>
				<string>yen</string>
				<string>sterling</string>
				<string>cent</string>
				<string>florin</string>
				<string>uni20B9</string>
				<string>currency</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>zero.tlf</string>
				<string>one.tlf</string>
				<string>two.tlf</string>
				<string>three.tlf</string>
				<string>four.tlf</string>
				<string>five.tlf</string>
				<string>six.tlf</string>
				<string>seven.tlf</string>
				<string>eight.tlf</string>
				<string>nine.tlf</string>
				<string>zero.posf</string>
				<string>one.posf</string>
				<string>two.posf</string>
				<string>three.posf</string>
				<string>four.posf</string>
				<string>five.posf</string>
				<string>six.posf</string>
				<string>seven.posf</string>
				<string>eight.posf</string>
				<string>nine.posf</string>
				<string>degree</string>
				<string>percent</string>
				<string>perthousand</string>
				<string>fraction</string>
				<string>uni2215</string>
				<string>zerosuperior</string>
				<string>onesuperior</string>
				<string>twosuperior</string>
				<string>threesuperior</string>
				<string>foursuperior</string>
				<string>fivesuperior</string>
				<string>sixsuperior</string>
				<string>sevensuperior</string>
				<string>eightsuperior</string>
				<string>ninesuperior</string>
				<string>zeroinferior</string>
				<string>oneinferior</string>
				<string>twoinferior</string>
				<string>threeinferior</string>
				<string>fourinferior</string>
				<string>fiveinferior</string>
				<string>sixinferior</string>
				<string>seveninferior</string>
				<string>eightinferior</string>
				<string>nineinferior</string>
				<string>zero.numerator</string>
				<string>one.numerator</string>
				<string>two.numerator</string>
				<string>three.numerator</string>
				<string>four.numerator</string>
				<string>five.numerator</string>
				<string>six.numerator</string>
				<string>seven.numerator</string>
				<string>eight.numerator</string>
				<string>nine.numerator</string>
				<string>zero.denominator</string>
				<string>one.denominator</string>
				<string>two.denominator</string>
				<string>three.denominator</string>
				<string>four.denominator</string>
				<string>five.denominator</string>
				<string>six.denominator</string>
				<string>seven.denominator</string>
				<string>eight.denominator</string>
				<string>nine.denominator</string>
				<string>onehalf</string>
				<string>onethird</string>
				<string>onequarter</string>
				<string>onefifth</string>
				<string>onesixth</string>
				<string>oneseventh</string>
				<string>oneeighth</string>
				<string>oneninth</string>
				<string>twothirds</string>
				<string>twofifths</string>
				<string>twosevenths</string>
				<string>twoninths</string>
				<string>threequarters</string>
				<string>threefifths</string>
				<string>threesevenths</string>
				<string>threeeighths</string>
				<string>fourfifths</string>
				<string>foursevenths</string>
				<string>fourninths</string>
				<string>fivesixths</string>
				<string>fivesevenths</string>
				<string>fiveeighths</string>
				<string>fiveninths</string>
				<string>sixsevenths</string>
				<string>seveneighths</string>
				<string>sevenninths</string>
				<string>eightninths</string>
				<string>plus</string>
				<string>minus</string>
				<string>multiply</string>
				<string>divide</string>
				<string>equal</string>
				<string>logicalnot</string>
				<string>asciitilde</string>
				<string>less</string>
				<string>greater</string>
				<string>plusminus</string>
				<string>asciicircum</string>
				<string>notequal</string>
				<string>approxequal</string>
				<string>lessequal</string>
				<string>greaterequal</string>
				<string>infinity</string>
				<string>lozenge</string>
				<string>radical</string>
				<string>integral</string>
				<string>partialdiff</string>
				<string>product</string>
				<string>pi</string>
				<string>mu</string>
				<string>summation</string>
				<string>Omega</string>
				<string>Delta</string>
				<string>uni2113</string>
				<string>arrowleft</string>
				<string>arrowup</string>
				<string>arrowright</string>
				<string>arrowdown</string>
				<string>uni2194</string>
				<string>uni2195</string>
				<string>uni2196</string>
				<string>uni2197</string>
				<string>uni2198</string>
				<string>uni2199</string>
				<string>estimated</string>
				<string>at.case</string>
				<string>questiondown.case</string>
				<string>exclamdown.case</string>
				<string>parenleft.case</string>
				<string>parenright.case</string>
				<string>braceleft.case</string>
				<string>braceright.case</string>
				<string>bracketleft.case</string>
				<string>bracketright.case</string>
				<string>hyphen.case</string>
				<string>endash.case</string>
				<string>emdash.case</string>
				<string>brokenbar.case</string>
				<string>bar.case</string>
				<string>guillemotleft.case</string>
				<string>guillemotright.case</string>
				<string>guilsinglleft.case</string>
				<string>guilsinglright.case</string>
				<string>A.alt</string>
				<string>B.alt</string>
				<string>D.alt</string>
				<string>E.alt</string>
				<string>F.alt</string>
				<string>G.alt</string>
				<string>H.alt</string>
				<string>J.alt</string>
				<string>K.alt</string>
				<string>L.alt</string>
				<string>M.alt</string>
				<string>N.alt</string>
				<string>P.alt</string>
				<string>R.alt</string>
				<string>T.alt</string>
				<string>U.alt</string>
				<string>V.alt</string>
				<string>W.alt</string>
				<string>X.alt</string>
				<string>Y.alt</string>
				<string>Aacute.alt</string>
				<string>Acircumflex.alt</string>
				<string>Adieresis.alt</string>
				<string>Agrave.alt</string>
				<string>Aring.alt</string>
				<string>Atilde.alt</string>
				<string>Abreve.alt</string>
				<string>Amacron.alt</string>
				<string>Aogonek.alt</string>
				<string>Dcaron.alt</string>
				<string>Eacute.alt</string>
				<string>Ecircumflex.alt</string>
				<string>Edieresis.alt</string>
				<string>Egrave.alt</string>
				<string>Ebreve.alt</string>
				<string>Ecaron.alt</string>
				<string>Edotaccent.alt</string>
				<string>Emacron.alt</string>
				<string>Eogonek.alt</string>
				<string>Gbreve.alt</string>
				<string>Gcircumflex.alt</string>
				<string>Gdotaccent.alt</string>
				<string>Hcircumflex.alt</string>
				<string>Jcircumflex.alt</string>
				<string>Kcommaaccent.alt</string>
				<string>Lacute.alt</string>
				<string>Lcaron.alt</string>
				<string>Lcommaaccent.alt</string>
				<string>Ntilde.alt</string>
				<string>Nacute.alt</string>
				<string>Ncaron.alt</string>
				<string>Ncommaaccent.alt</string>
				<string>Eng.alt</string>
				<string>Racute.alt</string>
				<string>Rcaron.alt</string>
				<string>Rcommaaccent.alt</string>
				<string>Tbar.alt</string>
				<string>Tcaron.alt</string>
				<string>uni0162.alt</string>
				<string>uni021A.alt</string>
				<string>Uacute.alt</string>
				<string>Ucircumflex.alt</string>
				<string>Udieresis.alt</string>
				<string>Ugrave.alt</string>
				<string>Ubreve.alt</string>
				<string>Uhungarumlaut.alt</string>
				<string>Umacron.alt</string>
				<string>Uogonek.alt</string>
				<string>Uring.alt</string>
				<string>Utilde.alt</string>
				<string>Wacute.alt</string>
				<string>Wcircumflex.alt</string>
				<string>Wdieresis.alt</string>
				<string>Wgrave.alt</string>
				<string>Yacute.alt</string>
				<string>Ydieresis.alt</string>
				<string>Ycircumflex.alt</string>
				<string>Ygrave.alt</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>AE</string>
		<string>OE</string>
		<string>Lslash</string>
		<string>Oslash</string>
		<string>Eth</string>
		<string>Thorn</string>
		<string>uni1E9E</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>ae</string>
		<string>oe</string>
		<string>lslash</string>
		<string>oslash</string>
		<string>eth</string>
		<string>thorn</string>
		<string>germandbls</string>
		<string>dotlessi</string>
		<string>dotlessj</string>
		<string>fi</string>
		<string>ffi</string>
		<string>fl</string>
		<string>ffl</string>
		<string>ft</string>
		<string>fft</string>
		<string>fb</string>
		<string>ffb</string>
		<string>ff</string>
		<string>fff</string>
		<string>fh</string>
		<string>ffh</string>
		<string>fj</string>
		<string>ffj</string>
		<string>fk</string>
		<string>ffk</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Edotaccent</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Ibreve</string>
		<string>Idotaccent</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>Jcircumflex</string>
		<string>IJ</string>
		<string>Kcommaaccent</string>
		<string>kgreenlandic.case</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>napostrophe.case</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Scaron</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Ubreve</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
		<string>Zcaron</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ibreve</string>
		<string>i.dot</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>jcircumflex</string>
		<string>ij</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>napostrophe</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>scaron</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>ubreve</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
		<string>zcaron</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>acute</string>
		<string>grave</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>tilde</string>
		<string>dieresis</string>
		<string>ring</string>
		<string>cedilla</string>
		<string>hungarumlaut</string>
		<string>breve</string>
		<string>macron</string>
		<string>dotaccent</string>
		<string>periodcentered</string>
		<string>ogonek</string>
		<string>commaaccent</string>
		<string>caron.alt</string>
		<string>revcommaaccent</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>question</string>
		<string>exclam</string>
		<string>questiondown</string>
		<string>exclamdown</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>slash</string>
		<string>backslash</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
		<string>brokenbar</string>
		<string>bar</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quoteleft</string>
		<string>quotedblleft</string>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>bullet</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>section</string>
		<string>asterisk</string>
		<string>trademark</string>
		<string>registered</string>
		<string>copyright</string>
		<string>at</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>numbersign</string>
		<string>uni2116</string>
		<string>Euro</string>
		<string>dollar</string>
		<string>yen</string>
		<string>sterling</string>
		<string>cent</string>
		<string>florin</string>
		<string>uni20B9</string>
		<string>currency</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.tlf</string>
		<string>one.tlf</string>
		<string>two.tlf</string>
		<string>three.tlf</string>
		<string>four.tlf</string>
		<string>five.tlf</string>
		<string>six.tlf</string>
		<string>seven.tlf</string>
		<string>eight.tlf</string>
		<string>nine.tlf</string>
		<string>zero.posf</string>
		<string>one.posf</string>
		<string>two.posf</string>
		<string>three.posf</string>
		<string>four.posf</string>
		<string>five.posf</string>
		<string>six.posf</string>
		<string>seven.posf</string>
		<string>eight.posf</string>
		<string>nine.posf</string>
		<string>degree</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>fraction</string>
		<string>uni2215</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
		<string>zero.numerator</string>
		<string>one.numerator</string>
		<string>two.numerator</string>
		<string>three.numerator</string>
		<string>four.numerator</string>
		<string>five.numerator</string>
		<string>six.numerator</string>
		<string>seven.numerator</string>
		<string>eight.numerator</string>
		<string>nine.numerator</string>
		<string>zero.denominator</string>
		<string>one.denominator</string>
		<string>two.denominator</string>
		<string>three.denominator</string>
		<string>four.denominator</string>
		<string>five.denominator</string>
		<string>six.denominator</string>
		<string>seven.denominator</string>
		<string>eight.denominator</string>
		<string>nine.denominator</string>
		<string>onehalf</string>
		<string>onethird</string>
		<string>onequarter</string>
		<string>onefifth</string>
		<string>onesixth</string>
		<string>oneseventh</string>
		<string>oneeighth</string>
		<string>oneninth</string>
		<string>twothirds</string>
		<string>twofifths</string>
		<string>twosevenths</string>
		<string>twoninths</string>
		<string>threequarters</string>
		<string>threefifths</string>
		<string>threesevenths</string>
		<string>threeeighths</string>
		<string>fourfifths</string>
		<string>foursevenths</string>
		<string>fourninths</string>
		<string>fivesixths</string>
		<string>fivesevenths</string>
		<string>fiveeighths</string>
		<string>fiveninths</string>
		<string>sixsevenths</string>
		<string>seveneighths</string>
		<string>sevenninths</string>
		<string>eightninths</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>logicalnot</string>
		<string>asciitilde</string>
		<string>less</string>
		<string>greater</string>
		<string>plusminus</string>
		<string>asciicircum</string>
		<string>notequal</string>
		<string>approxequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>lozenge</string>
		<string>radical</string>
		<string>integral</string>
		<string>partialdiff</string>
		<string>product</string>
		<string>pi</string>
		<string>mu</string>
		<string>summation</string>
		<string>Omega</string>
		<string>Delta</string>
		<string>uni2113</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>uni2194</string>
		<string>uni2195</string>
		<string>uni2196</string>
		<string>uni2197</string>
		<string>uni2198</string>
		<string>uni2199</string>
		<string>estimated</string>
		<string>at.case</string>
		<string>questiondown.case</string>
		<string>exclamdown.case</string>
		<string>parenleft.case</string>
		<string>parenright.case</string>
		<string>braceleft.case</string>
		<string>braceright.case</string>
		<string>bracketleft.case</string>
		<string>bracketright.case</string>
		<string>hyphen.case</string>
		<string>endash.case</string>
		<string>emdash.case</string>
		<string>brokenbar.case</string>
		<string>bar.case</string>
		<string>guillemotleft.case</string>
		<string>guillemotright.case</string>
		<string>guilsinglleft.case</string>
		<string>guilsinglright.case</string>
		<string>A.alt</string>
		<string>B.alt</string>
		<string>D.alt</string>
		<string>E.alt</string>
		<string>F.alt</string>
		<string>G.alt</string>
		<string>H.alt</string>
		<string>J.alt</string>
		<string>K.alt</string>
		<string>L.alt</string>
		<string>M.alt</string>
		<string>N.alt</string>
		<string>P.alt</string>
		<string>R.alt</string>
		<string>T.alt</string>
		<string>U.alt</string>
		<string>V.alt</string>
		<string>W.alt</string>
		<string>X.alt</string>
		<string>Y.alt</string>
		<string>Aacute.alt</string>
		<string>Acircumflex.alt</string>
		<string>Adieresis.alt</string>
		<string>Agrave.alt</string>
		<string>Aring.alt</string>
		<string>Atilde.alt</string>
		<string>Abreve.alt</string>
		<string>Amacron.alt</string>
		<string>Aogonek.alt</string>
		<string>Dcaron.alt</string>
		<string>Eacute.alt</string>
		<string>Ecircumflex.alt</string>
		<string>Edieresis.alt</string>
		<string>Egrave.alt</string>
		<string>Ebreve.alt</string>
		<string>Ecaron.alt</string>
		<string>Edotaccent.alt</string>
		<string>Emacron.alt</string>
		<string>Eogonek.alt</string>
		<string>Gbreve.alt</string>
		<string>Gcircumflex.alt</string>
		<string>Gdotaccent.alt</string>
		<string>Hcircumflex.alt</string>
		<string>Jcircumflex.alt</string>
		<string>Kcommaaccent.alt</string>
		<string>Lacute.alt</string>
		<string>Lcaron.alt</string>
		<string>Lcommaaccent.alt</string>
		<string>Ntilde.alt</string>
		<string>Nacute.alt</string>
		<string>Ncaron.alt</string>
		<string>Ncommaaccent.alt</string>
		<string>Eng.alt</string>
		<string>Racute.alt</string>
		<string>Rcaron.alt</string>
		<string>Rcommaaccent.alt</string>
		<string>Tbar.alt</string>
		<string>Tcaron.alt</string>
		<string>uni0162.alt</string>
		<string>uni021A.alt</string>
		<string>Uacute.alt</string>
		<string>Ucircumflex.alt</string>
		<string>Udieresis.alt</string>
		<string>Ugrave.alt</string>
		<string>Ubreve.alt</string>
		<string>Uhungarumlaut.alt</string>
		<string>Umacron.alt</string>
		<string>Uogonek.alt</string>
		<string>Uring.alt</string>
		<string>Utilde.alt</string>
		<string>Wacute.alt</string>
		<string>Wcircumflex.alt</string>
		<string>Wdieresis.alt</string>
		<string>Wgrave.alt</string>
		<string>Yacute.alt</string>
		<string>Ydieresis.alt</string>
		<string>Ycircumflex.alt</string>
		<string>Ygrave.alt</string>
	</array>
</dict>
</plist>
