<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>A.alt</string>
		<string>Aacute.alt</string>
		<string>Acircumflex.alt</string>
		<string>Adieresis.alt</string>
		<string>Agrave.alt</string>
		<string>Aring.alt</string>
		<string>Atilde.alt</string>
		<string>Abreve.alt</string>
		<string>Amacron.alt</string>
		<string>Aogonek.alt</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
		<string>B.alt</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Edotaccent</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>AE</string>
		<string>OE</string>
		<string>E.alt</string>
		<string>Eacute.alt</string>
		<string>Ecircumflex.alt</string>
		<string>Edieresis.alt</string>
		<string>Egrave.alt</string>
		<string>Ebreve.alt</string>
		<string>Ecaron.alt</string>
		<string>Edotaccent.alt</string>
		<string>Emacron.alt</string>
		<string>Eogonek.alt</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
		<string>F.alt</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>G.alt</string>
		<string>Gbreve.alt</string>
		<string>Gcircumflex.alt</string>
		<string>Gdotaccent.alt</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>IJ</string>
		<string>J.alt</string>
		<string>Jcircumflex.alt</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>K.alt</string>
		<string>Kcommaaccent.alt</string>
		<string>kgreenlandic.case</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>Ldot</string>
		<string>L.alt</string>
		<string>Lacute.alt</string>
		<string>Lcaron.alt</string>
		<string>Lcommaaccent.alt</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>napostrophe.case</string>
		<string>N.alt</string>
		<string>Ntilde.alt</string>
		<string>Nacute.alt</string>
		<string>Ncaron.alt</string>
		<string>Ncommaaccent.alt</string>
		<string>Eng.alt</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Q</string>
		<string>D.alt</string>
		<string>Dcaron.alt</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>P.alt</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Racute.alt</string>
		<string>Rcaron.alt</string>
		<string>Rcommaaccent.alt</string>
		<string>R.alt</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>S.alt</string>
		<string>Scaron.alt</string>
		<string>Sacute.alt</string>
		<string>Scedilla.alt</string>
		<string>Scircumflex.alt</string>
		<string>uni0218.alt</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni021A</string>
		<string>uni0162</string>
		<string>T.alt</string>
		<string>Tbar.alt</string>
		<string>Tcaron.alt</string>
		<string>uni0162.alt</string>
		<string>uni021A.alt</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Ubreve</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>U.alt</string>
		<string>Uacute.alt</string>
		<string>Ucircumflex.alt</string>
		<string>Udieresis.alt</string>
		<string>Ugrave.alt</string>
		<string>Ubreve.alt</string>
		<string>Uhungarumlaut.alt</string>
		<string>Umacron.alt</string>
		<string>Uogonek.alt</string>
		<string>Uring.alt</string>
		<string>Utilde.alt</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_L_W.alt</key>
	<array>
		<string>W.alt</string>
		<string>Wacute.alt</string>
		<string>Wcircumflex.alt</string>
		<string>Wdieresis.alt</string>
		<string>Wgrave.alt</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
		<string>X.alt</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
		<string>Y.alt</string>
		<string>Yacute.alt</string>
		<string>Ydieresis.alt</string>
		<string>Ycircumflex.alt</string>
		<string>Ygrave.alt</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>dotlessi</string>
		<string>u</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>ubreve</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>fl</string>
		<string>ffl</string>
		<string>dcroat</string>
	</array>
	<key>@MMK_L_dcaron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>ae</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>ff</string>
		<string>fff</string>
	</array>
	<key>@MMK_L_guilsinglleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_guilsinglleft.case</key>
	<array>
		<string>guilsinglleft.case</string>
		<string>guillemotleft.case</string>
	</array>
	<key>@MMK_L_guilsinglright</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_L_guilsinglright.case</key>
	<array>
		<string>guilsinglright.case</string>
		<string>guillemotright.case</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_L_hyphen.case</key>
	<array>
		<string>hyphen.case</string>
		<string>endash.case</string>
		<string>emdash.case</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>fi</string>
		<string>ffi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ibreve</string>
		<string>i.dot</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>j</string>
		<string>jcircumflex</string>
		<string>ij</string>
		<string>fj</string>
		<string>ffj</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>fk</string>
		<string>ffk</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>n</string>
		<string>m</string>
		<string>h</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>napostrophe</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>fh</string>
		<string>ffh</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
		<string>b</string>
		<string>p</string>
		<string>thorn</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>fb</string>
		<string>ffb</string>
		<string>oslash</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
		<string>comma</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>dotlessj</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_L_quotesinglbase</key>
	<array>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>ft</string>
		<string>fft</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
		<string>zacute</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Q</string>
		<string>Oslash</string>
		<string>OE</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni021A</string>
		<string>uni0162</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Ubreve</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>ffi</string>
		<string>fl</string>
		<string>ffl</string>
		<string>ft</string>
		<string>fft</string>
		<string>fb</string>
		<string>ffb</string>
		<string>ff</string>
		<string>fff</string>
		<string>fh</string>
		<string>ffh</string>
		<string>fj</string>
		<string>ffj</string>
		<string>fk</string>
		<string>ffk</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_R_guilsinglleft</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_guilsinglleft.case</key>
	<array>
		<string>guilsinglleft.case</string>
		<string>guillemotleft.case</string>
	</array>
	<key>@MMK_R_guilsinglright</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_R_guilsinglright.case</key>
	<array>
		<string>guilsinglright.case</string>
		<string>guillemotright.case</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>@MMK_R_hyphen.case</key>
	<array>
		<string>hyphen.case</string>
		<string>endash.case</string>
		<string>emdash.case</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>o</string>
		<string>a</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>g</string>
		<string>q</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oe</string>
		<string>oslash</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_quotesinglbase</key>
	<array>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>ubreve</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w</string>
		<string>v</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
		<string>zacute</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
