<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.alt</key>
	<string>A_.alt.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Aacute.alt</key>
	<string>Aacute_.alt.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Abreve.alt</key>
	<string>Abreve_.alt.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Acircumflex.alt</key>
	<string>Acircumflex_.alt.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Adieresis.alt</key>
	<string>Adieresis_.alt.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Agrave.alt</key>
	<string>Agrave_.alt.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Amacron.alt</key>
	<string>Amacron_.alt.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aogonek.alt</key>
	<string>Aogonek_.alt.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Aring.alt</key>
	<string>Aring_.alt.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>Atilde.alt</key>
	<string>Atilde_.alt.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.alt</key>
	<string>B_.alt.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>CR_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Ccircumflex</key>
	<string>Ccircumflex_.glif</string>
	<key>Cdotaccent</key>
	<string>Cdotaccent_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.alt</key>
	<string>D_.alt.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcaron.alt</key>
	<string>Dcaron_.alt.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>Delta</key>
	<string>Delta_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.alt</key>
	<string>E_.alt.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Eacute.alt</key>
	<string>Eacute_.alt.glif</string>
	<key>Ebreve</key>
	<string>Ebreve_.glif</string>
	<key>Ebreve.alt</key>
	<string>Ebreve_.alt.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecaron.alt</key>
	<string>Ecaron_.alt.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Ecircumflex.alt</key>
	<string>Ecircumflex_.alt.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edieresis.alt</key>
	<string>Edieresis_.alt.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Edotaccent.alt</key>
	<string>Edotaccent_.alt.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Egrave.alt</key>
	<string>Egrave_.alt.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Emacron.alt</key>
	<string>Emacron_.alt.glif</string>
	<key>Eng</key>
	<string>Eng_.glif</string>
	<key>Eng.alt</key>
	<string>Eng_.alt.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Eogonek.alt</key>
	<string>Eogonek_.alt.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.alt</key>
	<string>F_.alt.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.alt</key>
	<string>G_.alt.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>Gbreve.alt</key>
	<string>Gbreve_.alt.glif</string>
	<key>Gcircumflex</key>
	<string>Gcircumflex_.glif</string>
	<key>Gcircumflex.alt</key>
	<string>Gcircumflex_.alt.glif</string>
	<key>Gcommaaccent</key>
	<string>Gcommaaccent_.glif</string>
	<key>Gdotaccent</key>
	<string>Gdotaccent_.glif</string>
	<key>Gdotaccent.alt</key>
	<string>Gdotaccent_.alt.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.alt</key>
	<string>H_.alt.glif</string>
	<key>Hbar</key>
	<string>Hbar_.glif</string>
	<key>Hcircumflex</key>
	<string>Hcircumflex_.glif</string>
	<key>Hcircumflex.alt</key>
	<string>Hcircumflex_.alt.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>IJ_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Ibreve</key>
	<string>Ibreve_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>Itilde</key>
	<string>Itilde_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.alt</key>
	<string>J_.alt.glif</string>
	<key>Jcircumflex</key>
	<string>Jcircumflex_.glif</string>
	<key>Jcircumflex.alt</key>
	<string>Jcircumflex_.alt.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.alt</key>
	<string>K_.alt.glif</string>
	<key>Kcommaaccent</key>
	<string>Kcommaaccent_.glif</string>
	<key>Kcommaaccent.alt</key>
	<string>Kcommaaccent_.alt.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.alt</key>
	<string>L_.alt.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lacute.alt</key>
	<string>Lacute_.alt.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Lcaron.alt</key>
	<string>Lcaron_.alt.glif</string>
	<key>Lcommaaccent</key>
	<string>Lcommaaccent_.glif</string>
	<key>Lcommaaccent.alt</key>
	<string>Lcommaaccent_.alt.glif</string>
	<key>Ldot</key>
	<string>Ldot_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.alt</key>
	<string>M_.alt.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.alt</key>
	<string>N_.alt.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Nacute.alt</key>
	<string>Nacute_.alt.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ncaron.alt</key>
	<string>Ncaron_.alt.glif</string>
	<key>Ncommaaccent</key>
	<string>Ncommaaccent_.glif</string>
	<key>Ncommaaccent.alt</key>
	<string>Ncommaaccent_.alt.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>Ntilde.alt</key>
	<string>Ntilde_.alt.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Obreve</key>
	<string>Obreve_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Omega</key>
	<string>Omega_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.alt</key>
	<string>P_.alt.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.alt</key>
	<string>R_.alt.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Racute.alt</key>
	<string>Racute_.alt.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>Rcaron.alt</key>
	<string>Rcaron_.alt.glif</string>
	<key>Rcommaaccent</key>
	<string>Rcommaaccent_.glif</string>
	<key>Rcommaaccent.alt</key>
	<string>Rcommaaccent_.alt.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.alt</key>
	<string>S_.alt.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Sacute.alt</key>
	<string>Sacute_.alt.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Scaron.alt</key>
	<string>Scaron_.alt.glif</string>
	<key>Scedilla</key>
	<string>Scedilla_.glif</string>
	<key>Scedilla.alt</key>
	<string>Scedilla_.alt.glif</string>
	<key>Scircumflex</key>
	<string>Scircumflex_.glif</string>
	<key>Scircumflex.alt</key>
	<string>Scircumflex_.alt.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.alt</key>
	<string>T_.alt.glif</string>
	<key>Tbar</key>
	<string>Tbar_.glif</string>
	<key>Tbar.alt</key>
	<string>Tbar_.alt.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Tcaron.alt</key>
	<string>Tcaron_.alt.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.alt</key>
	<string>U_.alt.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Uacute.alt</key>
	<string>Uacute_.alt.glif</string>
	<key>Ubreve</key>
	<string>Ubreve_.glif</string>
	<key>Ubreve.alt</key>
	<string>Ubreve_.alt.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Ucircumflex.alt</key>
	<string>Ucircumflex_.alt.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Udieresis.alt</key>
	<string>Udieresis_.alt.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Ugrave.alt</key>
	<string>Ugrave_.alt.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Uhungarumlaut.alt</key>
	<string>Uhungarumlaut_.alt.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Umacron.alt</key>
	<string>Umacron_.alt.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uogonek.alt</key>
	<string>Uogonek_.alt.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>Uring.alt</key>
	<string>Uring_.alt.glif</string>
	<key>Utilde</key>
	<string>Utilde_.glif</string>
	<key>Utilde.alt</key>
	<string>Utilde_.alt.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.alt</key>
	<string>V_.alt.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.alt</key>
	<string>W_.alt.glif</string>
	<key>Wacute</key>
	<string>Wacute_.glif</string>
	<key>Wacute.alt</key>
	<string>Wacute_.alt.glif</string>
	<key>Wcircumflex</key>
	<string>Wcircumflex_.glif</string>
	<key>Wcircumflex.alt</key>
	<string>Wcircumflex_.alt.glif</string>
	<key>Wdieresis</key>
	<string>Wdieresis_.glif</string>
	<key>Wdieresis.alt</key>
	<string>Wdieresis_.alt.glif</string>
	<key>Wgrave</key>
	<string>Wgrave_.glif</string>
	<key>Wgrave.alt</key>
	<string>Wgrave_.alt.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.alt</key>
	<string>X_.alt.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.alt</key>
	<string>Y_.alt.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Yacute.alt</key>
	<string>Yacute_.alt.glif</string>
	<key>Ycircumflex</key>
	<string>Ycircumflex_.glif</string>
	<key>Ycircumflex.alt</key>
	<string>Ycircumflex_.alt.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Ydieresis.alt</key>
	<string>Ydieresis_.alt.glif</string>
	<key>Ygrave</key>
	<string>Ygrave_.glif</string>
	<key>Ygrave.alt</key>
	<string>Ygrave_.alt.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.case</key>
	<string>at.case.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bar.case</key>
	<string>bar.case.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.case</key>
	<string>braceleft.case.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.case</key>
	<string>braceright.case.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketleft.case</key>
	<string>bracketleft.case.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bracketright.case</key>
	<string>bracketright.case.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>brokenbar.case</key>
	<string>brokenbar.case.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caron.alt</key>
	<string>caron.alt.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dotlessj</key>
	<string>dotlessj.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.denominator</key>
	<string>eight.denominator.glif</string>
	<key>eight.numerator</key>
	<string>eight.numerator.glif</string>
	<key>eight.posf</key>
	<string>eight.posf.glif</string>
	<key>eight.tlf</key>
	<string>eight.tlf.glif</string>
	<key>eightinferior</key>
	<string>eightinferior.glif</string>
	<key>eightninths</key>
	<string>eightninths.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.case</key>
	<string>emdash.case.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>endash.case</key>
	<string>endash.case.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>exclamdown.case</key>
	<string>exclamdown.case.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fb</key>
	<string>fb.glif</string>
	<key>ff</key>
	<string>ff.glif</string>
	<key>ffb</key>
	<string>ffb.glif</string>
	<key>fff</key>
	<string>fff.glif</string>
	<key>ffh</key>
	<string>ffh.glif</string>
	<key>ffi</key>
	<string>ffi.glif</string>
	<key>ffj</key>
	<string>ffj.glif</string>
	<key>ffk</key>
	<string>ffk.glif</string>
	<key>ffl</key>
	<string>ffl.glif</string>
	<key>fft</key>
	<string>fft.glif</string>
	<key>fh</key>
	<string>fh.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.denominator</key>
	<string>five.denominator.glif</string>
	<key>five.numerator</key>
	<string>five.numerator.glif</string>
	<key>five.posf</key>
	<string>five.posf.glif</string>
	<key>five.tlf</key>
	<string>five.tlf.glif</string>
	<key>fiveeighths</key>
	<string>fiveeighths.glif</string>
	<key>fiveinferior</key>
	<string>fiveinferior.glif</string>
	<key>fiveninths</key>
	<string>fiveninths.glif</string>
	<key>fivesevenths</key>
	<string>fivesevenths.glif</string>
	<key>fivesixths</key>
	<string>fivesixths.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>fj</key>
	<string>fj.glif</string>
	<key>fk</key>
	<string>fk.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.denominator</key>
	<string>four.denominator.glif</string>
	<key>four.numerator</key>
	<string>four.numerator.glif</string>
	<key>four.posf</key>
	<string>four.posf.glif</string>
	<key>four.tlf</key>
	<string>four.tlf.glif</string>
	<key>fourfifths</key>
	<string>fourfifths.glif</string>
	<key>fourinferior</key>
	<string>fourinferior.glif</string>
	<key>fourninths</key>
	<string>fourninths.glif</string>
	<key>foursevenths</key>
	<string>foursevenths.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>ft</key>
	<string>ft.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotleft.case</key>
	<string>guillemotleft.case.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guillemotright.case</key>
	<string>guillemotright.case.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglleft.case</key>
	<string>guilsinglleft.case.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>guilsinglright.case</key>
	<string>guilsinglright.case.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.case</key>
	<string>hyphen.case.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.dot</key>
	<string>i.dot.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kgreenlandic</key>
	<string>kgreenlandic.glif</string>
	<key>kgreenlandic.case</key>
	<string>kgreenlandic.case.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>napostrophe</key>
	<string>napostrophe.glif</string>
	<key>napostrophe.case</key>
	<string>napostrophe.case.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.denominator</key>
	<string>nine.denominator.glif</string>
	<key>nine.numerator</key>
	<string>nine.numerator.glif</string>
	<key>nine.posf</key>
	<string>nine.posf.glif</string>
	<key>nine.tlf</key>
	<string>nine.tlf.glif</string>
	<key>nineinferior</key>
	<string>nineinferior.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.denominator</key>
	<string>one.denominator.glif</string>
	<key>one.numerator</key>
	<string>one.numerator.glif</string>
	<key>one.posf</key>
	<string>one.posf.glif</string>
	<key>one.tlf</key>
	<string>one.tlf.glif</string>
	<key>oneeighth</key>
	<string>oneeighth.glif</string>
	<key>onefifth</key>
	<string>onefifth.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>oneninth</key>
	<string>oneninth.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>oneseventh</key>
	<string>oneseventh.glif</string>
	<key>onesixth</key>
	<string>onesixth.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>onethird</key>
	<string>onethird.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.case</key>
	<string>parenleft.case.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.case</key>
	<string>parenright.case.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondown.case</key>
	<string>questiondown.case.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>revcommaaccent</key>
	<string>revcommaaccent.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scircumflex</key>
	<string>scircumflex.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.denominator</key>
	<string>seven.denominator.glif</string>
	<key>seven.numerator</key>
	<string>seven.numerator.glif</string>
	<key>seven.posf</key>
	<string>seven.posf.glif</string>
	<key>seven.tlf</key>
	<string>seven.tlf.glif</string>
	<key>seveneighths</key>
	<string>seveneighths.glif</string>
	<key>seveninferior</key>
	<string>seveninferior.glif</string>
	<key>sevenninths</key>
	<string>sevenninths.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.denominator</key>
	<string>six.denominator.glif</string>
	<key>six.numerator</key>
	<string>six.numerator.glif</string>
	<key>six.posf</key>
	<string>six.posf.glif</string>
	<key>six.tlf</key>
	<string>six.tlf.glif</string>
	<key>sixinferior</key>
	<string>sixinferior.glif</string>
	<key>sixsevenths</key>
	<string>sixsevenths.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.denominator</key>
	<string>three.denominator.glif</string>
	<key>three.numerator</key>
	<string>three.numerator.glif</string>
	<key>three.posf</key>
	<string>three.posf.glif</string>
	<key>three.tlf</key>
	<string>three.tlf.glif</string>
	<key>threeeighths</key>
	<string>threeeighths.glif</string>
	<key>threefifths</key>
	<string>threefifths.glif</string>
	<key>threeinferior</key>
	<string>threeinferior.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesevenths</key>
	<string>threesevenths.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.denominator</key>
	<string>two.denominator.glif</string>
	<key>two.numerator</key>
	<string>two.numerator.glif</string>
	<key>two.posf</key>
	<string>two.posf.glif</string>
	<key>two.tlf</key>
	<string>two.tlf.glif</string>
	<key>twofifths</key>
	<string>twofifths.glif</string>
	<key>twoinferior</key>
	<string>twoinferior.glif</string>
	<key>twoninths</key>
	<string>twoninths.glif</string>
	<key>twosevenths</key>
	<string>twosevenths.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>twothirds</key>
	<string>twothirds.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A0_.glif</string>
	<key>uni00AD</key>
	<string>uni00AD_.glif</string>
	<key>uni0162</key>
	<string>uni0162.glif</string>
	<key>uni0162.alt</key>
	<string>uni0162.alt.glif</string>
	<key>uni0163</key>
	<string>uni0163.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni0218.alt</key>
	<string>uni0218.alt.glif</string>
	<key>uni0219</key>
	<string>uni0219.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni021A.alt</key>
	<string>uni021A_.alt.glif</string>
	<key>uni021B</key>
	<string>uni021B_.glif</string>
	<key>uni1E9E</key>
	<string>uni1E9E_.glif</string>
	<key>uni20B9</key>
	<string>uni20B9_.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>uni2116</key>
	<string>uni2116.glif</string>
	<key>uni2194</key>
	<string>uni2194.glif</string>
	<key>uni2195</key>
	<string>uni2195.glif</string>
	<key>uni2196</key>
	<string>uni2196.glif</string>
	<key>uni2197</key>
	<string>uni2197.glif</string>
	<key>uni2198</key>
	<string>uni2198.glif</string>
	<key>uni2199</key>
	<string>uni2199.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.denominator</key>
	<string>zero.denominator.glif</string>
	<key>zero.numerator</key>
	<string>zero.numerator.glif</string>
	<key>zero.posf</key>
	<string>zero.posf.glif</string>
	<key>zero.tlf</key>
	<string>zero.tlf.glif</string>
	<key>zeroinferior</key>
	<string>zeroinferior.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
</dict>
</plist>
